h1= "About #{t :'community.name'}"
br
p Fitness Athletes surfaces the best new fitness athletes, every day. It's a place for fitness-loving enthusiasts to share and geek out about the latest fitness athletes and models.
